/* M. Revanza Yuzar | Responsive */

@media (max-width: 1024px) {

    header h1 {
        font-size: 16px;
    }

    .hero .profil h2#nama {
        font-size: 25px;
    }

    .hero .profil h2#status {
        font-size: 13px;
    }

    .container-02 h2 {
        font-size: 18px;
    }

    .container-02 a {
        font-size: 14px;
    }

    .container-02 .ruang-photo h3 {
        font-size: 14px;
    }

    footer p#desainer {
        font-size: 18px;
    }

    footer p#copyright {
        font-size: 13px;
    }

}



@media (max-width: 768px) {

    header {
        border-bottom-width: 1px;
    }

    header img {
        width: 6%;
    }

    header h1 {
        width: 86%;
    }
    
    .hero .profil img {
        width: 36%;
    }

    .container-01 .logo-main {
        height: 100vh;
        padding: 33%;
    }

    .container-02 h2 {
        width: 27%;
    }

    .container-02 a {
        width: 38%;
    }

    .container-02 .container-logo {
        flex-wrap: wrap;
    }

    .container-02 .ruang-logo {
        width: 45%;
        margin-bottom: 25px;
    }

    .container-02 .container-photo {
        flex-wrap: wrap;
    }

    .container-02 .ruang-photo {
        width: 45%;
        margin-bottom: 25px;
    }

    footer {
        border-top-width: 1px;
    }

}



@media (max-width: 600px) {

    .hero .profil h2#nama {
        font-size: 22px;
        font-weight: 400;
        margin-top: 15px;
        margin-bottom: 7px;
    }

    .container-02 h2 {
        width: 33%;
    }

    .container-02 a {
        width: 45%;
    }

}



@media (max-width: 425px) {

    header img {
        width: 9%;
    }

    header h1 {
        width: 80%;
    }

    .hero .profil img {
        width: 66%;
    }

    .hero .profil h2#nama {
        font-size: 28px;
        font-weight: 500;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .hero .profil h2#status {
        font-size: 15px;
    }

    .container {
        padding-bottom: 25px;
    }

    .container-01 {
        width: 93%;
        margin-top: 50px;
        border-width: 2px;
    }

    .container-01 .logo-main {
        padding: 30%;
    }

    .container-02 h2 {
        width: 38%;
    }

    .container-02 a {
        width: 70%;
        font-size: 15px;
        margin-bottom: 25px;
    }

    .container-02 .kontak {
        flex-wrap: wrap;
    }

    .container-02 .ruang-logo {
        width: 90%;
        margin-bottom: 50px;
        padding: 25%;
    }

    .container-02 .ruang-photo {
        width: 90%;
        margin-bottom: 50px;
    }

    footer p#desainer {
        letter-spacing: 3px;
    }

    footer p#copyright {
        font-size: 12px;
        letter-spacing: 0.5px;
    }

}



@media (max-width: 375px) {

    .hero .profil h2#nama {
        font-size: 25px;
    }

    .hero .profil h2#status {
        font-size: 14px;
    }

    .container-02 h2 {
        width: 42%;
        font-size: 17px;
    }

    .container-02 a {
        width: 75%;
    }

}



@media (max-width: 320px) {

    header h1 {
        font-size: 15px;
    }

    .hero .profil h2#nama {
        font-size: 22px;
    }

    .hero .profil h2#status {
        font-size: 13px;
    }

    .container-02 h2 {
        width: 46%;
        font-size: 16px;
    }

    .container-02 a {
        width: 80%;
        font-size: 14px;
    }

    footer p#desainer {
        font-size: 16px;
    }

    footer p#copyright {
        font-size: 11px;
    }
    
}