/* M. Revanza Yuzar | Responsive */

@media (max-width: 425px) {

    header {
        padding: 10px;
        border-bottom: 3px solid gold;
    }

    header h1 {
        font-size: 20px;
        font-weight: 400;
    }

    .container-main {
        width: 97%;
        margin-top: 60px;
        border: 1.5px solid white;
        border-radius: 7px;
    }

    .container-main .sampul img {
        height: auto;
        border-radius: 7px;
    }

    @keyframes animation-profil {
        0% {
            border: 3px solid rgb(251, 147, 255);
        }
    
        33.3% {
            border: 3px solid rgb(247, 0, 255);
        }
    
        66.6% {
            border: 3px solid rgb(219, 126, 247);
        }
    
        100% {
            border: 3px solid rgb(195, 0, 255);
        }
    }

    .container-main .profil img {
        width: 50%;
        top: 325px;
        left: 25%;
        border-radius: 50%;
        animation: animation-profil 1s ease-in-out infinite alternate;
    }

    .container-main .profil img:hover {
        border: 3px solid rgb(166, 44, 248);
        animation: none;
    }

    .container-main .profil p#nama {    
        font-size: 20px;
        letter-spacing: 0.5px;
        margin-top: 10px;
    }

    .container-main .profil p#status {
        width: 66%;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0;
        margin-top: 33px;
        margin-bottom: 33px;
        border-top: 1.5px solid white;
    }

    .container-main .logo {
        margin-top: 150px;
        margin-bottom: 150px;
        padding: 250px 30%;
        border: 1px solid goldenrod;
        border-radius: 5px;
    }

    .container-main .logo img {
        width: 100%;
    }

    .container-main .sosmed p.judul {
        width: 50%;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin-top: 150px;
        margin-bottom: 50px;
        border-bottom: 2px solid white;
    }

    .container-main .sosmed a {
        width: 70%;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 25px;
        padding: 10px;
    }

    .container-main .sosmed a#website {
        letter-spacing: 1.5px;
        border: 2px solid gold;
    }

    .container-main .sosmed a#website:hover {
        border: 2px solid silver;
    }

    .container-main .sosmed a#instagram {
        background-size: 36px;
        border: 2px solid rgb(245, 96, 64);
    }

    .container-main .sosmed a#instagram:hover {
        border: 2px solid silver;
    }

    .container-main .sosmed a#tiktok {
        background-size: 36px;
        border: 2px solid black;
    }

    .container-main .sosmed a#tiktok:hover {
        border: 2px solid silver;
    }

    .container-main .sosmed a#facebook {
        background-size: 36px;
        border: 2px solid rgb(24, 119, 242);
    }

    .container-main .sosmed a#facebook:hover {
        border: 2px solid silver;
    }

    .container-main .sosmed a#github {
        background-size: 36px;
        border: 2px solid black;
    }

    .container-main .sosmed a#github:hover {
        border: 2px solid silver;
    }

    .container-main .sosmed a#youtube {
        background-size: 36px;
        border: 2px solid red;
    }

    .container-main .sosmed a#youtube:hover {
        border: 2px solid silver;
    }

    .container-main .kontak p.judul {
        width: 50%;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin-top: 150px;
        margin-bottom: 50px;
        border-bottom: 2px solid white;
    }

    .container-main .kontak a {
        width: 70%;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: 1px;
        margin-bottom: 25px;
        padding: 10px;
    }

    .container-main .kontak a#whatsapp {
        background-size: 36px;
        border: 2px solid rgb(37, 211, 102);
    }

    .container-main .kontak a#whatsapp:hover {
        border: 2px solid silver;
    }

    .container-main .kontak a#telegram {
        background-size: 36px;
        border: 2px solid rgb(0, 136, 204);
        margin-bottom: 75px;
    }

    .container-main .kontak a#telegram:hover {
        border: 2px solid silver;
    }

    .container-logo {
        width: 97%;
        margin-top: 50px;
        border: 1.5px solid white;
        border-radius: 7px;
    }

    .container-logo p.judul {
        width: 50%;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-bottom: 2px solid white;
    }

    .container-logo .ruang {
        width: 95%;
        margin-bottom: 75px;
        padding: 28%;
        border: 1.5px solid white;
        border-radius: 7px;
    }

    .container-photo {
        width: 97%;
        margin-top: 50px;
        border: 1.5px solid white;
        border-radius: 7px;
    }

    .container-photo p.judul {
        width: 50%;
        font-size: 20px;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin-top: 50px;
        margin-bottom: 50px;
        border-bottom: 2px solid white;
    }

    .container-photo .ruang {
        width: 95%;
        margin-bottom: 75px;
    }

    @keyframes animation-title {
        0% {
            color: white;
            border: 1.5px solid white;
        }
    
        100% {
            color: rgb(223, 169, 245);
            border: 1.5px solid rgb(223, 169, 245);
        }
    }

    .container-photo .ruang p {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 5px;
        padding: 10px;
        border-radius: 7px;
        animation: animation-title 0.75s ease-in-out infinite alternate;
    }

    .container-photo .ruang img {
        border: 15px solid rgb(223, 169, 245);
        border-radius: 7px;
    }

    footer {
        margin-top: 25px;
        padding: 12px;
        border-top: 3px solid gold;
    }

    footer p.desainer {
        font-size: 18px;
        letter-spacing: 3px;
        margin-bottom: 12px;
    }

    footer p.copyright {
        font-size: 12px;
        font-weight: normal;
        letter-spacing: 0.7px;
        word-spacing: -0.3px;
    }

}



@media (max-width: 375px) {

    header {
        padding: 8px;
    }

    header h1 {
        font-size: 18px;
    }

    .container-main {
        margin-top: 52px;
    }

    .container-main .profil img {
        top: 285px;
    }

    .container-main .profil p#nama {
        font-size: 18px;
    }

    .container-main .profil p#status {
        width: 65%;
        font-size: 16px;
    }

    .container-main .logo {
        padding: 225px 30%;
    }

    .container-main .sosmed p.judul {
        font-size: 18px;
    }

    .container-main .kontak p.judul {
        font-size: 18px;
    }

    .container-logo p.judul {
        font-size: 18px;
    }

    .container-photo p.judul {
        font-size: 18px;
    }

    .container-photo .ruang p {
        font-size: 15px;
    }

    footer p.desainer {
        font-size: 16px;
    }

    footer p.copyright {
        font-size: 11px;
    }

}



@media (max-width: 320px) {

    header h1 {
        font-size: 16px;
    }

    .container-main {
        margin-top: 50px;
    }

    .container-main .profil img {
        top: 250px;
    }

    .container-main .profil p#nama {
        font-size: 16px;
    }

    .container-main .profil p#status {
        font-size: 14px;
    }

    .container-main .logo {
        padding: 200px 30%;
    }

    .container-main .sosmed p.judul {
        width: 55%;
        font-size: 16px;
    }

    .container-main .sosmed a {
        width: 75%;
        font-size: 14px;
    }

    .container-main .kontak p.judul {
        width: 55%;
        font-size: 16px;
    }

    .container-main .kontak a {
        width: 75%;
        font-size: 14px;
    }

    .container-logo p.judul {
        width: 55%;
        font-size: 16px;
    }

    .container-photo p.judul {
        width: 55%;
        font-size: 16px;
    }

    .container-photo .ruang p {
        font-size: 14px;
    }

    footer p.desainer {
        font-size: 14px;
    }

    footer p.copyright {
        font-size: 10px;
    }

}