/* M. Revanza Yuzar | Style */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

@keyframes animation-body {
    0% {
        background-color: rgb(240, 116, 213);
    }

    50% {
        background-color: rgb(219, 108, 241);
    }

    100% {
        background-color: rgb(178, 109, 243);
    }
}

body {
    background-color: lightslategray;
    font-family: 'Rubik', sans-serif;
    animation: animation-body 3s infinite alternate;
}

header {
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-bottom: 5px solid gold;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

@keyframes animation-rgb {
    0% {
        color: rgba(255, 0, 0, 0.9);
    }

    33.3% {
        color: rgba(0, 255, 0, 0.8);
    }

    66.6% {
        color: rgba(0, 0, 255, 1);
    }

    100% {
        color: rgba(255, 0, 0, 0.9);
    }
}

header h1 {
    color: gold;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 10px;
    margin-left: 8px;
    animation: animation-rgb 1.5s infinite;
}

.container-main {
    width: 80%;
    background-color: rgb(44, 44, 100);
    margin: auto;
    margin-top: 100px;
    border: 3px solid white;
    border-radius: 11px;
}

.container-main .sampul img {
    width: 100%;
    height: 1200px;
    margin: auto;
    border-radius: 11px;
}

.container-main .profil {
    text-align: center;
}

@keyframes animation-profil {
    0% {
        box-shadow: 0 5px 12px rgba(255, 0, 0, 0.6),
                    0 -5px 12px rgba(255, 0, 0, 0.6),
                    5px 0 12px rgba(255, 0, 0, 0.6),
                    -5px 0 12px rgba(255, 0, 0, 0.6);
    }

    33.3% {
        box-shadow: 0 5px 12px rgba(0, 255, 0, 0.5),
                    0 -5px 12px rgba(0, 255, 0, 0.5),
                    5px 0 12px rgba(0, 255, 0, 0.5),
                    -5px 0 12px rgba(0, 255, 0, 0.5);
    }

    66.6% {
        box-shadow: 0 5px 12px rgba(0, 0, 255, 0.7),
                    0 -5px 12px rgba(0, 0, 255, 0.7),
                    5px 0 12px rgba(0, 0, 255, 0.7),
                    -5px 0 12px rgba(0, 0, 255, 0.7);
    }

    100% {
        box-shadow: 0 5px 12px rgba(255, 0, 0, 0.6),
                    0 -5px 12px rgba(255, 0, 0, 0.6),
                    5px 0 12px rgba(255, 0, 0, 0.6),
                    -5px 0 12px rgba(255, 0, 0, 0.6);
    }
}

.container-main .profil img {
    width: 32%;
    position: absolute;
    top: 850px;
    left: 34%;
    border: 5px solid rgba(255, 255, 255, 0.75);
    border-radius: 50%;
    animation: animation-profil 1.5s infinite;
}

.container-main .profil img:hover {
    border-color: rgb(225, 90, 230);
    box-shadow: 0 5px 12px rgba(255, 255, 255, 0.5),
                0 -5px 12px rgba(255, 255, 255, 0.5),
                5px 0 12px rgba(255, 255, 255, 0.5),
                -5px 0 12px rgba(255, 255, 255, 0.5);
    animation: none;
}

.container-main .profil p#nama {
    color: white;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
}

.container-main .profil p#status {
    width: 36%;
    color: rgb(236, 148, 253);
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    border-top: 3px solid white;
}

@keyframes animation-border-logo {
    0% {
        border-color: goldenrod;
    }

    50% {
        border-color: white;
    }

    100% {
        border-color: goldenrod;
    }
}

.container-main .logo {
    width: 95%;
    background-color: black;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 150px 36%;
    border: 1.5px solid goldenrod;
    border-radius: 10px;
    animation: animation-border-logo 1s infinite;
}

@keyframes animation-logo {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    80% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
    }
}

.container-main .logo img {
    display: block;
    width: 100%;
    margin: auto;
    animation: animation-logo 5s ease-in-out infinite;
}

.container-main .sosmed {
    text-align: center;
}

.container-main .sosmed p.judul {
    width: 33%;
    color: white;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 75px;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

.container-main .sosmed a {
    display: block;
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin: auto;
    margin-bottom: 50px;
    padding: 11px;
    border-radius: 10px;
}

@keyframes animation-my-website {
    0% {
        color: goldenrod;
        border-color: goldenrod;
    }

    50% {
        color: silver;
        border-color: silver;
    }

    100% {
        color: goldenrod;
        border-color: goldenrod;
    }
}

.container-main .sosmed a#website {
    color: goldenrod;
    background-color: black;
    letter-spacing: 2px;
    border: 3px solid goldenrod;
    animation: animation-my-website 3s infinite;
}

.container-main .sosmed a#website:hover {
    color: silver;
    background-color: rgb(25, 25, 25);
    border-color: silver;
    animation: none;
}

.container-main .sosmed a#instagram {
    color: rgb(245, 96, 64);
    background-image: url(../img/instagram.png);
    background-color: white;
    background-size: 44px;
    background-position: left;
    background-position-x: 10px;
    background-repeat: no-repeat;
    border: 3px solid rgb(245, 96, 64);
}

.container-main .sosmed a#instagram:hover {
    color: silver;
    background-color: rgb(25, 25, 25);
    border-color: silver;
}

.container-main .sosmed a#tiktok {
    color: black;
    background-image: url(../img/tiktok.png);
    background-color: white;
    background-size: 44px;
    background-position: left;
    background-position-x: 10px;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.container-main .sosmed a#tiktok:hover {
    color: silver;
    background-color: rgb(25, 25, 25);
    border-color: silver;
}

.container-main .sosmed a#facebook {
    color: rgb(24, 119, 242);
    background-image: url(../img/facebook.png);
    background-color: white;
    background-size: 44px;
    background-position: left;
    background-position-x: 10px;
    background-repeat: no-repeat;
    border: 3px solid rgb(24, 119, 242);
}

.container-main .sosmed a#facebook:hover {
    color: silver;
    background-color: rgb(25, 25, 25);
    border-color: silver;
}

.container-main .sosmed a#github {
    color: black;
    background-image: url(../img/github.png);
    background-color: white;
    background-size: 44px;
    background-position: left;
    background-position-x: 10px;
    background-repeat: no-repeat;
    border: 3px solid black;
}

.container-main .sosmed a#github:hover {
    color: silver;
    background-color: rgb(25, 25, 25);
    border-color: silver;
}

.container-main .sosmed a#youtube {
    color: red;
    background-image: url(../img/youtube.png);
    background-color: white;
    background-size: 44px;
    background-position: left;
    background-position-x: 10px;
    background-repeat: no-repeat;
    border: 3px solid red;
}

.container-main .sosmed a#youtube:hover {
    color: silver;
    background-color: rgb(25, 25, 25);
    border-color: silver;
}

.container-main .kontak {
    text-align: center;
}

.container-main .kontak p.judul {
    width: 33%;
    color: white;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 200px;
    margin-bottom: 75px;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

.container-main .kontak a {
    display: block;
    width: 50%;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
    margin: auto;
    margin-bottom: 50px;
    padding: 11px;
    border-radius: 10px;
}

.container-main .kontak a#whatsapp {
    color: rgb(37, 211, 102);
    background-image: url(../img/whatsapp.png);
    background-color: white;
    background-size: 44px;
    background-position: left;
    background-position-x: 10px;
    background-repeat: no-repeat;
    border: 3px solid rgb(37, 211, 102);
}

.container-main .kontak a#whatsapp:hover {
    color: silver;
    background-color: rgb(25, 25, 25);
    border-color: silver;
}

.container-main .kontak a#telegram {
    color: rgb(0, 136, 204);
    background-image: url(../img/telegram.png);
    background-color: white;
    background-size: 44px;
    background-position: left;
    background-position-x: 10px;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    border: 3px solid rgb(0, 136, 204);
}

.container-main .kontak a#telegram:hover {
    color: silver;
    background-color: rgb(25, 25, 25);
    border-color: silver;
}

.container-logo {
    width: 80%;
    background-color: rgb(44, 44, 100);
    margin: auto;
    margin-top: 100px;
    border: 3px solid white;
    border-radius: 11px;
}

.container-logo p.judul {
    width: 33%;
    color: white;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

.container-logo .ruang {
    width: 80%;
    background-color: black;
    margin: auto;
    margin-bottom: 100px;
    padding: 25%;
    border: 3px solid white;
    border-radius: 10px;
    animation: animation-border-logo 1.5s infinite;
}

@keyframes animation-my-logo {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.container-logo .ruang img {
    display: inline-block;
    width: 100%;
    animation: animation-my-logo 3s ease-in-out infinite;
}

.container-photo {
    width: 80%;
    background-color: rgb(44, 44, 100);
    margin: auto;
    margin-top: 100px;
    border: 3px solid white;
    border-radius: 11px;
}

.container-photo p.judul {
    width: 33%;
    color: white;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 75px;
    padding-bottom: 10px;
    border-bottom: 3px solid white;
}

.container-photo .ruang {
    width: 80%;
    margin: auto;
    margin-bottom: 100px;
}

@keyframes animation-title {
    0% {
        color: rgb(223, 169, 245);
        border-color: rgb(223, 169, 245);
    }

    50% {
        color: white;
        border-color: white;
    }

    100% {
        color: rgb(223, 169, 245);
        border-color: rgb(223, 169, 245);
    }
}

.container-photo .ruang p {
    color: rgb(223, 169, 245);
    background-color: black;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 15px;
    padding: 15px;
    border: 3px solid rgb(223, 169, 245);
    border-radius: 10px;
    animation: animation-title 1.5s infinite;
}

@keyframes animation-border-photo {
    0% {
        border-color: rgb(223, 169, 245);
    }

    50% {
        border-color: white;
    }

    100% {
        border-color: rgb(223, 169, 245);
    }
}

.container-photo .ruang img {
    width: 100%;
    border: 50px solid rgb(223, 169, 245);
    border-radius: 10px;
    animation: animation-border-photo 1.5s infinite;
}

footer {
    width: 100%;
    background-color: black;
    margin-top: 50px;
    padding: 15px;
    border-top: 5px solid gold;
}

footer p.desainer {
    color: gold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-bottom: 15px;
}

footer p.copyright {
    color: gold;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}