/* REVAN | Responsive */

@media (max-width: 768px) {

    nav {
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: var(--color-secondary-dark);
    }

    nav .nav-link {
        width: 45px;
        padding: 0;
        padding-top: 5px;
    }

    nav .nav-link i {
        font-size: 18px;
    }

    nav .nav-link span {
        font-size: 10px;
    }

    .sidebar-content .comment-form {
        width: 500px;
        height: 1850px;
    }

}



@media (max-width: 550px) {

    .sidebar-content .profile-info {
        width: 92%;
    }

    .sidebar-content .comment-form {
        width: 375px;
        height: 1950px;
    }

}



@media (max-width: 425px) {

    nav .teks-berjalan {
        width: 175px;
    }

}



@media (max-width: 400px) {

    .sidebar-content .comment-form {
        width: 325px;
        height: 2150px;
    }

}



@media (max-width: 350px) {

    .say-content {
        padding: 25px 7px;
    }

    .menu {
        width: 275px;
    }

    .active-button-close {
        transform: translateX(275px);
    }

    .button-close {
        font-size: 25px;
    }

    .sidebar-content .comment-form {
        width: 300px;
        height: 2255px;
    }

}



@media (max-width: 320px) {

    .menu {
        width: 250px;
    }

    .active-button-close {
        transform: translateX(250px);
    }

}