/* REVAN | Style */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: rgb(238, 232, 170);
    --color-primary-light: rgb(250, 248, 200);
    --color-primary-dark: rgb(200, 192, 120);

    --color-secondary: rgb(139, 69, 19);
    --color-secondary-light: rgb(180, 110, 60);
    --color-secondary-dark: rgb(100, 50, 10);

    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);

    --color-red: rgb(255, 0, 0);
    --color-green: rgb(0, 255, 0);
    --color-blue: rgb(0, 0, 255);

    --color-header: var(--color-secondary-dark);
    --color-footer: var(--color-secondary-dark);

    --color-next: rgb(160, 90, 30);
    --color-next-hover: rgb(140, 75, 20);

    --color-close: rgb(180, 40, 40);
    --color-close-hover: rgb(150, 30, 30);

    --color-support: rgb(139, 69, 19);
    --color-support-hover: rgb(115, 50, 10);

    --color-primary-blue: rgb(0, 123, 255);
    --color-primary-blue-hover: rgb(0, 105, 217);
    
    --color-success: rgb(40, 167, 69);
    --color-success-hover: rgb(33, 136, 56);
    
    --color-warning: rgb(255, 193, 7);
    --color-warning-hover: rgb(217, 168, 6);
    
    --color-danger: rgb(220, 53, 69);
    --color-danger-hover: rgb(185, 43, 58);

    --color-shimmer: var(--color-white);
    --color-shadow: var(--color-black);
    --color-active: rgb(100, 200, 50);
    --color-play: rgb(34, 139, 34);
    --color-stop: rgb(178, 34, 34);
    --color-eye: rgb(90, 130, 50);
    --color-whatsapp: rgb(37, 211, 102);
    --color-dana: rgb(0, 161, 255);
    --color-dark-background: rgba(0, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--color-primary);
    font-family: 'Rubik', sans-serif;
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-dark);
    padding-bottom: 70px;
}

.hidden-loading {
    transform: translateY(100%);
    transition: 0.75s ease-out;
}

.delete-loading {
    display: none;
}

@keyframes kilau-loading {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.loading-border {
    background-image: linear-gradient(315deg, var(--color-secondary-dark) 45%, var(--color-shimmer) 50%, var(--color-secondary-dark) 55%);
    background-size: 500%;
    padding: 5px;
    animation: kilau-loading 5s infinite;
    animation-timing-function: ease-in-out;
}

.loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary-dark);
    padding: 25px;
}

@keyframes logo {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    10% {
        opacity: 1;
        transform: scale(1.1);
    }

    12% {
        transform: scale(1);
    }

    85% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.loading img {
    width: 100px;
    animation: logo 5s infinite;
    animation-timing-function: ease-out;
}

.loading .designer {
    overflow: hidden;
    padding: 0 20px;
}

@keyframes designer {
    0% {
        opacity: 1;
        transform: translateY(50px);
    }

    12% {
        transform: translateY(0);
    }

    45% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    55% {
        transform: scale(1);
    }

    85% {
        opacity: 1;
    }

    95% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.loading .designer h1 {
    color: var(--color-white);
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    animation: designer 5s infinite;
    animation-timing-function: ease-out;
}

@keyframes next {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1);
    }
    
    90% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.loading p {
    position: fixed;
    bottom: 30px;
    color: var(--color-white);
    background-color: var(--color-next);
    font-size: 15px;
    font-weight: 400;
    padding: 7px 10px;
    border: 3px solid var(--color-next);
    border-radius: 20px;
    animation: next 2.5s infinite;
    animation-timing-function: ease-out;
    cursor: pointer;
}

.loading p:hover {
    background-color: var(--color-next-hover);
    animation: none;
}

@keyframes click-button {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}

.loading p:active {
    animation: click-button 0.25s;
}

.say {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-background);
    opacity: 0;
    transform: scale(0);
    cursor: not-allowed;
}

.say-active {
    opacity: 1;
    transform: scale(1);
    transition-property: opacity;
    transition-duration: 0.35s;
    transition-timing-function: ease-out;
}

.say-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color: var(--color-secondary-dark);
    padding: 25px;
    border: 1px solid var(--color-primary-light);
    border-radius: 10px;
    opacity: 0;
    transform: scale(0);
    cursor: auto;
}

.say-content-active {
    opacity: 1;
    transform: scale(1);
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: ease-out;
}

.say img {
    width: 36px;
    border: 2px solid var(--color-whatsapp);
    border-radius: 50%;
    cursor: pointer;
}

.say .ketik {
    width: max-content;
}

@keyframes ketik {
    0% {
        width: 0;
        visibility: hidden;
    }

    75% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.welcome {
    color: var(--color-primary-light);
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 7px;
    padding-right: 10px;
    border-right: 2px solid var(--color-primary-light);
    animation: none;
}

.welcome-active {
    animation: ketik 5s steps(33) infinite;
}

.say .close-say {
    position: absolute;
    top: -40px;
    right: 0;
    color: white;
    background-color: var(--color-close);
    font-size: 22px;
    padding: 5px 7px;
    border: 1px solid var(--color-close);
    border-radius: 10px;
    cursor: pointer;
}

.say .close-say:hover {
    background-color: var(--color-close-hover);
}

.sidebar-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: var(--color-secondary-dark);
    padding-top: 100px;
    overflow-y: auto;
    display: none;
}

.sidebar-content-active {
    display: block;
}

.sidebar-content .sidebar-content-header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-secondary-dark);
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}

.sidebar-content .sidebar-content-header h1 {
    color: var(--color-primary-light);
    font-size: 25px;
    font-weight: 500;
}

.sidebar-content .profile-img {
    display: block;
    width: 250px;
    margin: auto;
    border: 10px solid var(--color-primary-dark);
    border-radius: 50%;
    cursor: pointer;
}

.sidebar-content .profile-info {
    width: 500px;
    background-color: var(--color-primary-dark);
    box-shadow: 0 5px 15px var(--color-shadow);
    margin: auto;
    margin-top: 25px;
    padding: 15px;
    border-radius: 5px;
}

.sidebar-content .profile-info .item {
    background-color: var(--color-primary-light);
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 5px;
}

.sidebar-content .profile-info .item span {
    display: block;
}

.sidebar-content .profile-info .item .name {
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.sidebar-content .profile-info .item .name-info {
    color: var(--color-secondary-dark);
    font-size: 16px;
    font-weight: 400;
}

.sidebar-content .sidebar-content-footer {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 50px 0;
}

.sidebar-content .sidebar-back {
    position: fixed !important;
    top: 50px;
    left: 5%;
    color: var(--color-white);
    background-color: var(--color-danger);
    font-size: 15px;
    font-weight: 400;
    padding: 5px 10px 4px 10px;
    border: 3px solid var(--color-danger);
    border-radius: 20px;
    cursor: pointer;
}

.sidebar-content .sidebar-back:hover {
    background-color: var(--color-danger-hover);
}

.sidebar-content .sidebar-back:active {
    animation: click-button 0.25s;
}

.sidebar-content .comment-form {
    display: block;
    margin: auto;
}

.sidebar-content .about-img {
    display: block;
    width: 150px;
    background-color: var(--color-black);
    margin: auto;
    padding: 15px;
    border: 5px solid var(--color-primary-dark);
    border-radius: 5px;
    cursor: pointer;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-secondary-dark);
    box-shadow: 0 0 10px var(--color-shadow);
    padding: 10px 5%;
}

header a {
    display: flex;
    align-items: center;
}

header img {
    width: 50px;
}

header img:active {
    animation: click-button 0.25s;
}

@keyframes kilau-revan {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

header span {
    color: var(--color-secondary-dark);
    background-image: linear-gradient(315deg, var(--color-secondary-dark) 40%, var(--color-shimmer) 50%, var(--color-secondary-dark) 60%);
    background-size: 500%;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 5px;
    padding: 5px 10px;
    animation: kilau-revan 5s infinite;
    animation-timing-function: ease-in-out;
}

.button-menu {
    color: var(--color-primary-light);
    font-size: 22px;
    padding: 8px 10px;
    border-radius: 5px;
    animation: none;
    cursor: pointer;
}

.button-menu:hover {
    background-color: var(--color-secondary);
}

.button-menu:active {
    animation: click-button 0.25s;
}

@keyframes active-button-menu {
    0% {
        color: var(--color-primary-light);
    }

    50% {
        color: var(--color-active);
    }

    100% {
        color: var(--color-primary-light);
    }
}

.active-button-menu {
    animation: active-button-menu 0.5s infinite;
    animation-timing-function: steps(1);
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 25%;
    z-index: 2;
    width: 50%;
    height: 70px;
}

nav .nav-link {
    width: 55px;
    color: var(--color-primary-light);
    text-align: center;
    padding-top: 7px;
    padding-bottom: 2px;
    border-radius: 5px;
}

nav .nav-link:hover {
    color: var(--color-primary-light);
    background-color: var(--color-secondary);
}

nav .nav-link:active {
    animation: click-button 0.25s;
}

nav .nav-link i {
    font-size: 20px;
}

nav .nav-link span {
    display: block;
    font-size: 12px;
    font-weight: 300;
}

nav .teks-berjalan {
    width: 250px;
    color: var(--color-primary-light);
    font-size: 15px;
    font-weight: 300;
    padding: 5px 0;
    border: 3px solid var(--color-secondary);
    border-radius: 20px;
    overflow: hidden;
}

@keyframes teks-berjalan {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-110%);
    }
}

nav .teks-berjalan p {
    width: max-content;
    animation: teks-berjalan 120s infinite;
    animation-timing-function: linear;
}

nav .teks-berjalan p span {
    margin-left: 900px;
}

.menu {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 5;
    background-color: var(--color-secondary-dark);
    overflow-y: auto;
    padding: 50px 25px;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.active-menu {
    transform: translateX(0);
    transition: transform 0.5s ease-out;
}

.menu h1 {
    color: var(--color-primary-light);
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--color-primary-light);
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
    margin-bottom: 30px;
}

@keyframes active-item-menu {
    0% {
        color: var(--color-primary-light);
    }

    50% {
        color: var(--color-primary-blue);
    }

    100% {
        color: var(--color-primary-light);
    }
}

.menu-list a {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 5px;
    transition: 0.25s ease-out;
}

.menu-list a:hover,
.menu-list a:active {
    transform: scale(1.35) translateX(15px);
    transition: 0.25s ease-out;
    animation: active-item-menu 0.5s infinite;
    animation-timing-function: steps(1);
}

.menu-list i {
    margin-right: 10px;
}

.menu .bottom p {
    color: var(--color-white);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 10px;
    border-top: 1px solid var(--color-primary-light);
}

.menu .bottom img {
    width: 50px;
    margin-bottom: 3px;
}

.button-close-container {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease-out;
}

.active-button-close {
    transform: translateX(300px);
    transition: transform 0.5s ease-out;
}

.button-close {
    color: var(--color-primary-light);
    background-color: var(--color-secondary);
    font-size: 36px;
    padding: 50px 7px 50px 9px;
    border: 3px solid var(--color-secondary);
    border-left-width: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

.button-close:hover {
    background-color: var(--color-secondary-dark);
}

.dark-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: var(--color-dark-background);
    opacity: 0;
    transform: scale(0);
}

.dark-background-active {
    opacity: 1;
    transform: scale(1);
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.hero {
    position: relative;
    height: 111vh;
    background-color: var(--color-primary-dark);
}

.hero .profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: 0.75s ease-out;
    transition-delay: 0.25s;
}

.hero .profil-hidden {
    transform: translateY(300px);
}

@keyframes kilau-profil {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.hero .profil img {
    width: 250px;
    background-image: linear-gradient(315deg, var(--color-secondary-dark) 45%, var(--color-shimmer) 50%, var(--color-secondary-dark) 55%);
    background-size: 500%;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    animation: kilau-profil 5s infinite;
    animation-timing-function: ease-in-out;
}

.hero .profil img:active {
    animation: click-button 0.25s;
}

.hero .profil h1#nama {
    color: var(--color-secondary-dark);
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0;
}

.hero .profil h1#status {
    color: var(--color-secondary);
    font-size: 16px;
    font-weight: 500;
}

.content {
    padding: 0 5%;
}

.container-01-logo {
    padding-top: 75px;
}

@keyframes kilau-logo {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.logo-border {
    background-image: linear-gradient(315deg, var(--color-black) 45%, var(--color-shimmer) 50%, var(--color-black) 55%);
    background-size: 500%;
    padding: 10px;
    animation: kilau-logo 5s infinite;
    animation-timing-function: ease-in-out;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: var(--color-black);
}

@keyframes animation-logo {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-10%);
    }

    10% {
        opacity: 0.1;
        transform: scale(0.5) translateY(0);
    }

    45% {
        opacity: 1;
        transform: scale(1.1);
    }

    52% {
        transform: scale(0.8);
    }

    55% {
        transform: scale(1);
    }

    75% {
        opacity: 1;
    }

    85% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.logo-container img {
    width: 150px;
    animation: animation-logo 5s infinite;
    animation-timing-function: ease-in-out;
    cursor: pointer;
}

.container-01 {
    padding-top: 75px;
}

.container-02 {
    position: relative;
    box-shadow: 0 5px 10px var(--color-secondary-dark);
    padding-top: 25px;
    padding-bottom: 35px;
    border-radius: 5px;
}

.container-02 .container-h1 {
    width: max-content;
    margin: auto;
    padding: 0 10px;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--color-secondary-dark);
}

.container-02 h1 {
    color: var(--color-secondary-dark);
    font-size: 25px;
    font-weight: 500;
}

.container-02 .text {
    margin-top: 25px;
    padding: 0 5%;
}

.container-02 .text h2 {
    color: var(--color-secondary-dark);
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}

.container-02 .text p {
    color: var(--color-secondary-dark);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    margin-top: 15px;
}

.container-02 .sosmed,
.container-02 .kontak,
.container-02 .project,
.container-02 .animasi,
.container-02 .foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@keyframes kilau-link {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.container-02 .link {
    width: 125px;
    color: var(--color-primary-light);
    background-image: linear-gradient(315deg, var(--color-secondary-dark) 42%, var(--color-shimmer) 50%, var(--color-secondary-dark) 58%);
    background-size: 500%;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 12.5px;
    margin-top: 25px;
    padding: 10px;
    border: 5px solid var(--color-secondary-dark);
    border-radius: 5px;
    transition: 0.15s;
    animation: kilau-link 5s infinite;
    animation-timing-function: ease-in-out;
}

.container-02 .link:hover {
    color: var(--color-primary-blue);
    border-color: var(--color-secondary);
    transform: scale(0.98);
}

.container-02 .link img {
    display: block;
    width: 75px;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 5px;
}

.container-02 .link span {
    display: block;
    background-color: var(--color-secondary-dark);
    padding: 3px 5px;
}

.container-02 .link i {
    display: block;
    color: var(--color-primary-light);
    background-color: var(--color-secondary-dark);
    font-size: 70px;
    margin-bottom: 5px;
    padding: 10px 0;
    border-radius: 5px;
}

@keyframes kilau-animasi {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.container-02 .border-animasi {
    background-image: linear-gradient(315deg, var(--color-black) 45%, var(--color-shimmer) 50%, var(--color-black) 55%);
    background-size: 500%;
    margin: 0 12.5px;
    margin-top: 25px;
    padding: 5px;
    animation: kilau-animasi 5s infinite;
    animation-timing-function: ease-in-out;
}

.container-02 .content-animasi {
    width: 250px;
    background-color: var(--color-black);
    padding: 10px;
}

.container-02 .ruang-animasi {
    overflow: hidden;
    margin-bottom: 15px;
    padding: 40px 0;
}

.animasi-01,
.animasi-02,
.animasi-03 {
    display: block;
    width: 100px;
    margin: auto;
    cursor: pointer;
}

@keyframes animasi-01 {
    0% {
        transform: translateX(-165px);
    }

    25% {
        transform: translateX(0);
    }

    45% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.35);
    }

    55% {
        transform: scale(1);
    }

    75% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(165px);
    }
}

.animasi-01-active {
    animation: animasi-01 5s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes animasi-02 {
    0% {
        transform: translateY(-136px);
    }

    25% {
        transform: translateY(0);
    }

    45% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.35);
    }

    55% {
        transform: scale(1);
    }

    75% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(136px);
    }
}

.animasi-02-active {
    animation: animasi-02 5s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes animasi-03 {
    0% {
        transform: translateX(-165px) translateY(-136px);
    }

    25% {
        transform: translateX(0) translateY(0);
    }

    45% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.35);
    }

    55% {
        transform: scale(1);
    }

    75% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(165px) translateY(136px);
    }
}

.animasi-03-active {
    animation: animasi-03 5s infinite;
    animation-timing-function: ease-in-out;
}

.container-02 .content-animasi h2 {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 5px 0;
}

.container-02 .content-animasi .action {
    width: max-content;
    margin: auto;
    margin-top: 10px;
}

.play-animasi-01,
.stop-animasi-01,
.play-animasi-02,
.stop-animasi-02,
.play-animasi-03,
.stop-animasi-03 {
    background-color: var(--color-primary);
    font-size: 22px;
    padding: 6px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.play-animasi-01,
.play-animasi-02,
.play-animasi-03 {
    color: var(--color-play);
}

.stop-animasi-01,
.stop-animasi-02,
.stop-animasi-03 {
    color: var(--color-stop);
}

.play-animasi-01:hover,
.stop-animasi-01:hover,
.play-animasi-02:hover,
.stop-animasi-02:hover,
.play-animasi-03:hover,
.stop-animasi-03:hover {
    background-color: var(--color-primary-dark);
}

.play-animasi-01:active,
.stop-animasi-01:active,
.play-animasi-02:active,
.stop-animasi-02:active,
.play-animasi-03:active,
.stop-animasi-03:active {
    animation: click-button 0.25s;
}

.stop-animasi-01,
.stop-animasi-02,
.stop-animasi-03 {
    display: none !important;
}

.active-action {
    display: inline-block !important;
}

.hidden-action {
    display: none !important;
}

@keyframes kilau-foto {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.container-02 .border-foto {
    background-image: linear-gradient(315deg, var(--color-secondary-dark) 45%, var(--color-shimmer) 50%, var(--color-secondary-dark) 55%);
    background-size: 500%;
    margin: 0 12.5px;
    margin-top: 25px;
    padding: 5px;
    animation: kilau-foto 5s infinite;
    animation-timing-function: ease-in-out;
}

.container-02 .content-foto {
    width: 250px;
    background-color: var(--color-secondary-dark);
}

.foto-01,
.foto-02,
.foto-03,
.foto-04 {
    width: 100%;
    border: 10px solid var(--color-secondary-dark);
    transition: 0.15s ease-out;
    cursor: pointer;
}

.foto-01:hover,
.foto-02:hover,
.foto-03:hover,
.foto-04:hover {
    border-color: var(--color-primary-dark);
    transition: 0.15s ease-out;
}

@keyframes foto-animasi {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.4);
    }

    85% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.foto-active {
    animation: foto-animasi 5s;
}

.container-02 .content-foto h2 {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 5px 0;
}

.container-02 .content-foto .action {
    text-align: center;
    padding: 10px 0;
}

.lihat-foto-01,
.lihat-foto-02,
.lihat-foto-03,
.lihat-foto-04 {
    color: var(--color-eye);
    background-color: var(--color-primary);
    font-size: 22px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.lihat-foto-01:hover,
.lihat-foto-02:hover,
.lihat-foto-03:hover,
.lihat-foto-04:hover {
    background-color: var(--color-primary-dark);
}

.lihat-foto-01:active,
.lihat-foto-02:active,
.lihat-foto-03:active,
.lihat-foto-04:active {
    animation: click-button 0.25s;
}

.container-02 .donasi,
.container-02 .dana .konfirmasi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@keyframes kilau-button-support {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

.container-02 .donasi a {
    background-image: linear-gradient(315deg, var(--color-support) 45%, var(--color-shimmer) 50%, var(--color-support) 55%);
    background-size: 500%;
    margin: 0 12.5px;
    margin-top: 25px;
    padding: 5px;
    border-radius: 33px;
    animation: kilau-button-support 5s infinite;
    animation-timing-function: ease-in-out;
}

.container-02 .donasi a:active {
    animation: click-button 0.25s;
}

.container-02 .donasi span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    color: var(--color-primary-light);
    background-color: var(--color-support);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 33px;
}

.container-02 .donasi span:hover {
    background-color: var(--color-support-hover);
}

.container-02 .dana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

.container-02 .dana-hidden {
    display: none;
}

.container-02 .dana h1 {
    color: var(--color-secondary-dark);
    font-size: 18px;
    font-weight: 500;
}

.container-02 .dana img {
    width: 75px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.container-02 .dana p {
    color: var(--color-black);
    text-transform: uppercase;
    margin-top: 0;
}

.container-02 .dana-info {
    background-color: var(--color-dana);
    text-align: center;
    margin-top: 15px;
    padding: 17px 20px;
    border-radius: 5px;
}

.container-02 .dana-info span {
    display: block;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
}

.container-02 .dana .konfirmasi span,
.container-02 .dana .konfirmasi a {
    width: 120px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 12.5px;
    margin-top: 25px;
    padding: 10px 0;
    border-radius: 33px;
    cursor: pointer;
}

.container-02 .dana .konfirmasi span:active,
.container-02 .dana .konfirmasi a:active {
    animation: click-button 0.25s;
}

.container-02 .dana .konfirmasi span {
    background-color: var(--color-success);
    border: 3px solid var(--color-success);
}

.container-02 .dana .konfirmasi span:hover {
    background-color: var(--color-success-hover);
}

.container-02 .dana .konfirmasi a {
    background-color: var(--color-danger);
    border: 3px solid var(--color-danger);
}

.container-02 .dana .konfirmasi a:hover {
    background-color: var(--color-danger-hover);
}

.container-02 .dana .berhasil-salin {
    color: var(--color-success);
    margin-top: 15px;
}

.container-02 .dana .berhasil-salin-hidden {
    display: none;
}

footer {
    padding-top: 75px;
}

.footer {
    color: var(--color-primary-light);
    background-color: var(--color-secondary-dark);
    padding: 75px 5%;
}

.footer .top {
    text-align: center;
}

.footer .top h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer .top p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.footer .top h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 10px;
}

.footer .top a {
    display: inline-block;
    color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 30px;
}

.footer .top a:hover {
    color: var(--color-primary);
}

.footer .mid {
    text-align: center;
    margin-top: 30px;
}

.footer .mid a {
    color: var(--color-primary-light);
    font-size: 30px;
    margin: 0 10px;
}

.footer .mid a:hover {
    color: var(--color-primary);
}

.footer .mid p a {
    display: block;
    font-size: 15px;
    margin: 0;
    margin-top: 15px;
}

.footer .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer .bottom img {
    width: 100px;
    margin: 0 15px;
    margin-top: 30px;
}

.footer .bottom .end {
    text-align: center;
    margin: 0 15px;
    margin-top: 30px;
}

.footer .bottom .end p#versi {
    font-size: 16px;
    font-weight: 400;
}

.footer .bottom .end p#desainer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.footer .bottom .end p#copyright {
    font-size: 16px;
    font-weight: 400;
}