/* REVAN | Style */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

.fixed {
    position: fixed;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: black;
    padding-bottom: 66px;
    border: 5px solid gold;
}

.finish-loading {
    display: none;
}

.loading img {
    width: 150px;
}

.loading h1 {
    color: gold;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    margin-top: 5px;
}

@keyframes next {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.loading p {
    position: fixed;
    bottom: 25px;
    color: gold;
    font-size: 15px;
    font-weight: 300;
    animation: next 1.5s infinite;
    animation-timing-function: ease;
}

@keyframes kedip {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.loading span {
    position: fixed;
    background-color: gold;
}

.loading span.left,
.loading span.right {
    width: 10px;
    height: 10px;
    top: 15px;
    border-radius: 50%;
    animation: kedip 0.5s infinite;
}

.loading span.mid {
    width: 200px;
    height: 25px;
    top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.loading span.left {
    left: 15px;
}

.loading span.right {
    right: 15px;
}

.loading span.mid-top {
    width: 19px;
    height: 19px;
    top: 3px;
    background-color: rgb(50, 50, 50);
    border: 5px solid black;
    border-radius: 50%;
}

.say {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 20vh;
    position: fixed;
    top: 40vh;
    left: 25%;
    z-index: 5;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    opacity: 0;
    transform: scale(0);
}

.say-active {
    opacity: 1;
    transform: scale(1);
    transition-property: all;
    transition-duration: 0.35s;
    transition-timing-function: ease-out;
}

.say img {
    width: 36px;
    border-radius: 50%;
}

.say .ketik {
    width: max-content;
}

@keyframes ketik {
    0% {
        width: 0;
        visibility: hidden;
    }

    75% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.welcome {
    color: white;
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 5px;
    padding-right: 10px;
    border-right: 2px solid white;
    animation: none;
}

.welcome-active {
    animation: ketik 5s steps(33) infinite;
}

.say img.close-say {
    position: absolute;
    top: -50px;
    right: 0;
    background-color: black;
    margin: 0;
    padding: 3px;
    border: 1px solid white;
    border-radius: 10px;
}

.say span {
    width: 10px;
    height: 10px;
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: rgb(0, 250, 50);
    border-radius: 50%;
    animation: kedip 0.5s infinite;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.75);
    padding: 5px 25px;
    border-bottom: 1.5px solid rgba(200, 200, 200, 1);
    box-shadow: 0 0 10px black;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

header img {
    display: block;
    width: 50px;
}

header h1 {
    color: rgba(255, 255, 255, 1);
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 5px;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    position: fixed;
    top: 13px;
    right: 35%;
    z-index: 2;
}

nav img,
.button-menu,
.button-close {
    width: 34px;
    filter: invert(1);
    padding: 3px;
    border-radius: 5px;
}

nav img:hover, nav img:active {
    background-color: white;
    box-shadow: 0 0 5px black;
}

.button-menu,
.button-close {
    position: fixed;
    top: 13px;
    right: 25px;
    z-index: 4;
}

.button-close {
    filter: none;
    transform: scale(0) translateX(100%);
    transition: transform 0.5s ease-out;
}

.menu {
    width: 30%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    background-color: black;
    text-align: center;
    overflow-y: auto;
    padding: 60px 25px;
    border-left: 1.5px solid rgba(200, 200, 200, 1);
    transform: translateY(100%);
    transition: transform 0.5s ease-out;
}

.active-button {
    transform: scale(1) translateX(0);
    transition: transform 0.5s ease-out;
}

.hidden-button {
    transform: scale(0) translateX(-100%);
    transition: transform 0.5s ease-out;
}

.active-menu {
    transform: translateY(0);
    transition: transform 0.5s ease-out;
}

.menu .container-judul {
    width: max-content;
    background-color: black;
    box-shadow: 0 5px 15px blue;
    margin: auto;
    padding: 5px 25px;
    border-radius: 10px;
}

.menu h2 {
    color: white;
    font-size: 25px;
    font-weight: 500;
    letter-spacing: 1px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.menu-list a {
    width: 80%;
    color: white;
    background-color: rgb(0, 0, 50);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 33px;
    padding: 10px 0;
    border: 0.5px solid transparent;
    border-radius: 25px;
}

.menu-list a:hover,
.menu-list a:active {
    background-color: rgb(0, 0, 100);
    border: 0.5px solid rgb(200, 200, 200);
    transform: scale(0.95);
    transition: all 0.25s ease;
}

.menu img {
    display: block;
    width: 75px;
    margin: auto;
}

.menu span {
    width: 10px;
    height: 10px;
    position: fixed;
    top: 15px;
    left: 15px;
    background-color: rgb(0, 250, 50);
    border-radius: 50%;
    animation: kedip 0.5s infinite;
}

.hero {
    position: relative;
    z-index: 0;
    height: 111vh;
    /* background-image: url(../../img/background/background.jpg); */
    background-color: rgb(0, 0, 50);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero .profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero .profil img {
    width: 300px;
    box-shadow: 0 0 50px blue;
    border: 5px solid rgb(155, 155, 255);
    border-radius: 50%;
}

.hero .profil h2 {
    color: white;
}

.hero .profil h2#nama {
    font-size: 36px;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 10px;
    text-shadow: 0 0 20px blue, 0 0 20px blue;
}

.hero .profil h2#status {
    font-size: 18px;
    font-weight: 400;
}

.hero i {
    position: absolute;
    top: 100px;
    left: 15px;
    color: lightyellow;
    font-size: 33px;
    text-shadow: 0 0 100px lightyellow, 0 0 100px lightyellow, 0 0 100px lightyellow, 0 0 100px lightyellow;
}

.content {
    background-color: silver;
    padding-top: 25px;
    padding-bottom: 50px;
}

.container-01 {
    width: 82%;
    position: relative;
    background-color: rgb(0, 0, 25);
    box-shadow: 0 0 25px black;
    margin: auto;
    margin-top: 75px;
    border: 1.5px solid white;
    border-radius: 10px;
}

.container-01 .logo-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: black;
    padding: 0 40%;
    border-radius: 10px;
}

@keyframes animation-logo {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-20%);
    }

    25% {
        opacity: 0.36;
        transform: scale(0.5) translateY(0);
    }

    75% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(0.93);
    }
}

.container-01 .logo-main img {
    display: block;
    width: 100%;
    animation: animation-logo 6s infinite;
    animation-timing-function: ease-in-out;
}

.container-01 span {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: white;
    border-radius: 50%;
    animation: kedip 0.5s infinite;
}

.container-02 {
    margin: 75px 0;
}

.container-02 .container-h2 {
    width: max-content;
    margin: auto;
    margin-bottom: 36px;
    padding: 0 10px;
    padding-bottom: 5px;
    border-bottom: 5px solid white;
}

.container-02 h2 {
    color: white;
    font-size: 25px;
    font-weight: 500;
}

.container-02 .text {
    margin-top: 72px;
    padding: 0 25px;
}

.container-02 p {
    color: rgb(200, 200, 200);
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
    margin-top: 25px;
}

.container-02 h6 {
    color: rgb(200, 200, 200);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin-top: 33px;
}

.container-02 a {
    display: block;
    width: 30%;
    color: white;
    background-color: black;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 3px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    margin-top: 36px;
    padding: 10px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(75, 75, 75);
}

.container-02 a:hover {
    transform: scale(0.96);
    transition-property: all;
    transition-duration: 0.25s;
}

.container-02 .sosmed {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-02 .kontak {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-02 a#website {
    background-image: url(../../img/my-logo/revan-logo-05.png);
}

.container-02 a#instagram {
    background-image: url(../../img/social-media/instagram.png);
    background-color: rgb(228, 0, 99);
}

.container-02 a#tiktok {
    background-image: url(../../img/social-media/tiktok.png);
    background-color: black;
}

.container-02 a#facebook {
    background-image: url(../../img/social-media/facebook.png);
    background-color: rgb(24, 119, 242);
}

.container-02 a#github {
    background-image: url(../../img/social-media/github.png);
    background-color: black;
}

.container-02 a#youtube {
    background-image: url(../../img/social-media/youtube.png);
    background-color: red;
}

.container-02 a#whatsapp {
    background-image: url(../../img/social-media/whatsapp.png);
    background-color: rgb(37, 211, 102);
}

.container-02 a#telegram {
    background-image: url(../../img/social-media/telegram.png);
    background-color: rgb(0, 136, 204);
}

.container-02 .project {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-02 .project a {
    color: black;
    background-image: url(../../img/icon/project.png);
    background-color: white;
    box-shadow: 0 0 10px rgb(180, 180, 180);
    filter: invert(1);
}

.container-02 .container-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-02 .ruang-logo {
    width: 30%;
    background-color: black;
    margin-top: 36px;
    padding: 5%;
    border: 1.5px solid goldenrod;
    border-radius: 10px;
}

@keyframes animation-my-logo {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.93);
    }

    100% {
        transform: scale(1);
    }
}

.container-02 .ruang-logo img {
    display: block;
    width: 100%;
    animation: animation-my-logo 5s infinite;
    animation-timing-function: ease;
}

.container-02 .container-photo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-02 .ruang-photo {
    width: 30%;
    margin-top: 36px;
}

.container-02 .ruang-photo h3 {
    color: white;
    background-color: blue;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container-02 .ruang-photo img {
    display: block;
    width: 100%;
    border: 10px solid silver;
    box-shadow: 0 0 25px blue;
    transform: scale(1);
    transition: transform 0.3s ease-out;
}

.container-02 .ruang-photo img:hover,
.container-02 .ruang-photo img:active {
    transform: scale(1.02);
    transition: transform 0.3s ease-out;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    background-color: black;
    padding: 75px 25px;
    border-top: 1.5px solid rgba(200, 200, 200, 1);
    box-shadow: 0 0 15px black;
}

footer .left {
    width: 80%;
    text-align: center;
}

footer .left h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 25px;
}

footer .left p {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
    line-height: 1.5;
}

footer .left a {
    display: inline-block;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: 25px;
}

footer .mid {
    margin: 25px 0;
}

footer .mid a {
    color: white;
    font-size: 30px;
    margin: 0 10px;
}

footer .right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

footer img {
    display: block;
    width: 100px;
}

footer .end {
    text-align: center;
}

footer p#desainer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 25px;
}

footer p#copyright {
    font-size: 15px;
    font-weight: 400;
}