/* REVAN | Style */

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Variabel Warna */
    --color-primary: rgb(238, 232, 170);
    --color-primary-light: rgb(250, 248, 200);
    --color-primary-dark: rgb(200, 192, 120);

    --color-secondary: rgb(139, 69, 19);
    --color-secondary-light: rgb(180, 110, 60);
    --color-secondary-dark: rgb(100, 50, 10);

    --color-white: rgb(255, 255, 255);
    --color-black: rgb(0, 0, 0);

    --color-red: rgb(255, 0, 0);
    --color-green: rgb(0, 255, 0);
    --color-blue: rgb(0, 0, 255);

    --color-header: var(--color-secondary-dark);
    --color-footer: var(--color-secondary-dark);

    --color-next: var(--color-secondary);
    --color-next-hover: var(--color-secondary-dark);

    --color-close: rgb(180, 40, 40);
    --color-close-hover: rgb(150, 30, 30);

    --color-support: var(--color-secondary);
    --color-support-hover: var(--color-secondary-dark);

    --color-primary-blue: rgb(0, 123, 255);
    --color-primary-blue-hover: rgb(0, 105, 217);
    
    --color-success: rgb(40, 167, 69);
    --color-success-hover: rgb(33, 136, 56);
    
    --color-warning: rgb(255, 193, 7);
    --color-warning-hover: rgb(217, 168, 6);
    
    --color-danger: rgb(220, 53, 69);
    --color-danger-hover: rgb(185, 43, 58);

    --color-shimmer: var(--color-white);
    --color-shadow: var(--color-black);
    --color-active: rgb(100, 200, 50);
    --color-play: rgb(34, 139, 34);
    --color-stop: rgb(178, 34, 34);
    --color-eye: var(--color-secondary-dark);
    --color-whatsapp: rgb(37, 211, 102);
    --color-dana: rgb(0, 161, 255);
    --color-dark-background: rgba(0, 0, 0, 0.5);
    /* End Variabel Warna */

    /* Variabel Z-Index */
    --z-index-perbaikan-sistem: 999;
    --z-index-notifikasi-awal: 988;
    --z-index-loading: 977;
    --z-index-navigasi-utama: 2;
    --z-index-header: 1;
    --z-index-menu: 6;
    --z-index-button-close-menu: 5;
    --z-index-dark-background: 4;
    --z-index-say: 3;
    --z-index-sidebar-content: 9;
    /* End Variabel Z-Index */

    /* Variabel Ukuran Tulisan */
    --fs-normal: 16px;
    /* End Variabel Ukuran Tulisan */

    /* Variabel Ketebalan Tulisan */
    --fw-normal: 400;
    /* End Variabel Ketebalan Tulisan */

    /* Variabel Padding */
    --padding-kilau-s: 3px;
    --padding-kilau-m: 5px;
    --padding-kilau-l: 10px;
    --padding-kilau-xl: 15px;
    /* End Variabel Padding */

    /* Variabel Animasi */
    --animasi-kilau: kilau 5s ease-in-out infinite;
    --animasi-click: click 0.25s;
    /* End Variabel Animasi */
}



/* Reset Style Bawaan */
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
/* End Reset Style Bawaan */



/* Reset Style Bootstrap */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
}
/* End Reset Style Bootstrap */



/* Animasi Umum */
@keyframes kilau {
    0% {
        background-position: right;
    }

    100% {
        background-position: left;
    }
}

@keyframes click {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
    }
}
/* End Animasi Umum */



/* Body */
body {
    background-color: var(--color-primary);
    font-family: 'Rubik', sans-serif;
}
/* End Body */



/* Perbaikan Sistem */
/* End Perbaikan Sistem */



/* Notifikasi Awal */
.notifikasi-awal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-index-notifikasi-awal);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-background);
    padding-bottom: 70px;
    cursor: not-allowed;
}

.delete-notifikasi-awal {
    display: none;
}

.notifikasi-awal .konten-notifikasi {
    position: relative;
    width: 280px;
    background-color: var(--color-secondary-dark);
    text-align: center;
    padding: 15px 0;
    border: 1px solid var(--color-primary-light);
    border-radius: 10px;
    cursor: auto;
}

.notifikasi-awal .konten-notifikasi .title {
    color: var(--color-primary);
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
}

.notifikasi-awal .konten-notifikasi .text {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
    margin: 15px 0;
}

.notifikasi-awal .konten-notifikasi .version {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
}

.notifikasi-awal .konten-notifikasi .close-notifikasi-awal {
    position: absolute;
    bottom: -50px;
    left: 123px;
    color: var(--color-primary-light);
    font-size: 32px;
    border-radius: 50%;
    cursor: pointer;
}

.notifikasi-awal .konten-notifikasi .close-notifikasi-awal:hover {
    color: var(--color-primary);
}

.notifikasi-awal .konten-notifikasi .close-notifikasi-awal:active {
    animation: var(--animasi-click);
}
/* End Notifikasi Awal */



/* Loading */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-index-loading);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    padding-bottom: 70px;
}

.hidden-loading {
    transform: translateY(100%);
    transition: 0.75s ease-out;
}

.delete-loading {
    display: none;
}

.loading-border {
    background-image: linear-gradient(315deg, var(--color-black) 45%, var(--color-shimmer) 50%, var(--color-black) 55%);
    background-size: 500%;
    padding: var(--padding-kilau-m);
    animation: var(--animasi-kilau);
}

.loading-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
    padding: 25px;
}

@keyframes logo {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    10% {
        opacity: 1;
        transform: scale(1.15);
    }

    12% {
        transform: scale(1);
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.loading img {
    width: 100px;
    animation: logo 5s ease-out infinite;
}

.loading .designer {
    overflow: hidden;
    padding: 5px 20px;
}

@keyframes designer {
    0% {
        opacity: 1;
        transform: translateY(50px);
    }

    12% {
        transform: translateY(0);
    }

    45% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.35);
    }

    55% {
        transform: scale(1);
    }

    80% {
        opacity: 1;
    }

    90% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.loading .designer h1 {
    color: var(--color-white);
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    animation: designer 5s ease-out infinite;
}

@keyframes next {
    0% {
        transform: scale(1);
    }

    80% {
        transform: scale(1);
    }
    
    90% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.loading .next {
    position: fixed;
    bottom: 30px;
    color: var(--color-white);
    background-color: var(--color-next);
    font-size: 15px;
    font-weight: 400;
    padding: 7px 10px;
    border: 3px solid var(--color-next);
    border-radius: 20px;
    animation: next 2.5s ease-out infinite;
    cursor: pointer;
}

.loading .next:hover {
    background-color: var(--color-next-hover);
    animation: none;
}

.loading .next:active {
    animation: var(--animasi-click);
}
/* End Loading */



/* Navigasi Utama (Bawah) */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0;
    left: 25%;
    z-index: var(--z-index-navigasi-utama);
    width: 50%;
    height: 56px;
}

.nav-beranda,
.nav-konten,
.nav-notifikasi,
.nav-profil {
    width: 62px;
    color: var(--color-primary-dark);
    text-align: center;
    padding-top: 7px;
    padding-bottom: 2px;
}

.nav-beranda:hover,
.nav-konten:hover,
.nav-notifikasi:hover,
.nav-profil:hover {
    color: var(--color-primary);
}

.nav-beranda:active,
.nav-konten:active,
.nav-notifikasi:active,
.nav-profil:active {
    animation: var(--animasi-click);
}

.nav-link-active {
    color: var(--color-primary-light);
}

nav a i {
    font-size: 20px;
}

nav a span {
    display: block;
    font-size: 12px;
    font-weight: 300;
}
/* End Navigasi Utama (Bawah) */



/* Menu Utama */
.main-menu-beranda,
.main-menu-konten,
.main-menu-notifikasi,
.main-menu-profil {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
}

.main-menu-active {
    display: block;
}

.main-menu-scroll {
    position: static;
}

.main-menu-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index-header);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 56px;
    background-color: var(--color-header);
    padding: 0 5%;
}

.main-menu-header a {
    color: var(--color-primary-light);
    font-size: 20px;
}

.main-menu-header a:active {
    animation: var(--animasi-click);
}
/* End Menu Utama */



/* Menu Utama | Home */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: var(--z-index-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-header);
    padding: 10px 5%;
}

header a {
    display: flex;
    align-items: center;
}

header .logo {
    width: 100px;
}

header .logo:active {
    animation: var(--animasi-click);
}

.button-menu {
    color: var(--color-primary-light);
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.button-menu:hover {
    background-color: var(--color-secondary);
}

.button-menu:active {
    animation: var(--animasi-click);
}

@keyframes active-button-menu {
    0% {
        color: var(--color-primary-light);
    }

    50% {
        color: transparent;
    }

    100% {
        color: var(--color-primary-light);
    }
}

.active-button-menu {
    animation: active-button-menu 0.5s steps(1) infinite;
}

/* ------------------------- */

.menu {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: var(--z-index-menu);
    background-color: var(--color-secondary-dark);
    overflow-y: auto;
    padding: 50px 25px;
    transform: translateX(-100%);
    transition: 0.5s ease-out;
}

.active-menu {
    transform: translateX(0);
    transition: 0.5s ease-out;
}

.menu h1 {
    color: var(--color-primary-light);
    font-size: 22px;
    font-weight: 500;
    text-align: center;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    padding-top: 40px;
    padding-bottom: 30px;
    border-top: 1px solid var(--color-primary-light);
    border-bottom: 1px solid var(--color-primary-light);
    border-radius: 10px;
}

@keyframes active-item-menu {
    0% {
        color: var(--color-primary-light);
    }

    50% {
        color: transparent;
    }

    100% {
        color: var(--color-primary-light);
    }
}

.menu-list a {
    width: 100%;
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.menu-list a:hover {
    border-color: var(--color-primary-light);
    animation: active-item-menu 0.5s steps(1) infinite;
}

.menu-list i {
    margin-right: 10px;
}

.menu .bottom p {
    color: var(--color-white);
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.menu .bottom img {
    width: 75px;
    margin-bottom: 3px;
}

/* ------------------------- */

.button-close-container {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: var(--z-index-button-close-menu);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: 0.5s ease-out;
}

.active-button-close {
    transform: translateX(300px);
    transition: 0.5s ease-out;
}

.button-close {
    color: var(--color-primary-light);
    background-color: var(--color-secondary);
    font-size: 36px;
    padding: 50px 7px 50px 9px;
    border: 3px solid var(--color-secondary);
    border-left-width: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

.button-close:hover {
    background-color: var(--color-secondary-dark);
}

/* ------------------------- */

.dark-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-index-dark-background);
    background-color: var(--color-dark-background);
    opacity: 0;
    transform: scale(0);
}

.dark-background-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.5s ease-out;
}

/* ------------------------- */

.say {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-index-say);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark-background);
    opacity: 0;
    transform: scale(0);
    cursor: not-allowed;
}

.say-active {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.35s ease-out;
}

.say-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    background-color: var(--color-secondary-dark);
    padding: 25px;
    border: 1px solid var(--color-primary-light);
    border-radius: 10px;
    opacity: 0;
    transform: scale(0);
    cursor: auto;
}

.say-content-active {
    opacity: 1;
    transform: scale(1);
    transition: 0.35s ease-out;
}

.say img {
    width: 36px;
    border: 3px solid var(--color-whatsapp);
    border-radius: 50%;
    cursor: pointer;
}

.say .ketik {
    width: max-content;
}

@keyframes ketik {
    0% {
        width: 0;
        visibility: hidden;
    }

    65% {
        width: 100%;
    }

    75% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.welcome {
    color: var(--color-primary-light);
    font-size: 15px;
    font-weight: 300;
    overflow: hidden;
    white-space: nowrap;
    margin-left: 7px;
    padding-right: 10px;
    border-right: 2px solid var(--color-primary-light);
}

.welcome-active {
    animation: ketik 5s steps(33) infinite;
}

.say .close-say {
    position: absolute;
    bottom: -50px;
    color: var(--color-white);
    background-color: var(--color-close);
    font-size: 22px;
    padding: 5px 7px;
    border: 3px solid var(--color-close);
    border-radius: 10px;
    cursor: pointer;
}

.say .close-say:hover {
    background-color: var(--color-close-hover);
}

.say .close-say:active {
    animation: var(--animasi-click);
}

/* ------------------------- */

.hero {
    position: relative;
}

.hero .container-profil {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero .profil-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.75s ease-out;
    transition-delay: 0.25s;
}

.hero .profil-hidden {
    transform: translateY(300px);
}

.hero .profil-content img {
    width: 250px;
    background-image: linear-gradient(315deg, var(--color-secondary-dark) 45%, var(--color-shimmer) 50%, var(--color-secondary-dark) 55%);
    background-size: 500%;
    padding: var(--padding-kilau-l);
    border-radius: 50%;
    cursor: pointer;
    animation: var(--animasi-kilau);
}

.hero .profil-content img:active {
    animation: var(--animasi-click);
}

.hero .profil-content h1#nama {
    color: var(--color-secondary);
    font-family: "Poppins", serif;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;
}

.hero .profil-content h1#status {
    color: var(--color-secondary);
    font-size: 15px;
    font-weight: 500;
}

.content {
    padding: 0 5%;
}

.container-01-logo {
    padding-top: 75px;
}

.logo-border {
    background-image: linear-gradient(315deg, var(--color-black) 45%, var(--color-shimmer) 50%, var(--color-black) 55%);
    background-size: 500%;
    padding: var(--padding-kilau-m);
    animation: var(--animasi-kilau);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    background-color: var(--color-black);
}

@keyframes animation-logo {
    0% {
        opacity: 0;
        transform: scale(0.5) translateY(-10%);
    }

    10% {
        opacity: 0.1;
        transform: scale(0.5) translateY(0);
    }

    45% {
        opacity: 1;
        transform: scale(1.1);
    }

    52% {
        transform: scale(0.8);
    }

    55% {
        transform: scale(1);
    }

    75% {
        opacity: 1;
    }

    85% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.logo-container img {
    width: 150px;
    animation: animation-logo 5s ease-in-out infinite;
    cursor: pointer;
}

.container-01 {
    padding-top: 75px;
}

.container-02 {
    position: relative;
    background-color: var(--color-primary-light);
    /* box-shadow: 0 5px 10px var(--color-secondary-dark); */
    padding-top: 25px;
    padding-bottom: 35px;
    border-radius: 5px;
}

.container-02 .container-h1 {
    width: max-content;
    margin: auto;
    padding: 0 10px;
    padding-bottom: 5px;
    border-bottom: 5px solid var(--color-secondary-dark);
}

.container-02 h1 {
    color: var(--color-secondary-dark);
    font-size: 25px;
    font-weight: 500;
}

.container-02 .text {
    margin-top: 25px;
    padding: 0 5%;
}

.container-02 .text h2 {
    color: var(--color-secondary-dark);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.container-02 .text p {
    color: var(--color-secondary-dark);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    line-height: 1.5;
    margin-top: 15px;
}

.container-02 .sosmed,
.container-02 .kontak,
.container-02 .project,
.container-02 .animasi,
.container-02 .foto {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-02 .link {
    width: 125px;
    background-image: linear-gradient(315deg, var(--color-secondary-dark) 45%, var(--color-shimmer) 50%, var(--color-secondary-dark) 55%);
    background-size: 500%;
    margin: 0 12.5px;
    margin-top: 25px;
    padding: var(--padding-kilau-s);
    animation: var(--animasi-kilau);
}

.container-02 .link-content {
    color: var(--color-primary-light);
    background-color: var(--color-secondary-dark);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.container-02 .link-content:hover {
    background-color: var(--color-secondary);
    transform: scale(0.95);
}

.container-02 .link-content img {
    display: block;
    width: 75px;
    margin: auto;
    border-radius: 5px;
}

.container-02 .link-content span {
    display: block;
    margin-top: 5px;
}

.container-02 .link-content i {
    display: block;
    font-size: 70px;
}

.container-02 .border-animasi {
    background-image: linear-gradient(315deg, var(--color-black) 45%, var(--color-shimmer) 50%, var(--color-black) 55%);
    background-size: 500%;
    margin: 0 12.5px;
    margin-top: 25px;
    padding: var(--padding-kilau-m);
    animation: var(--animasi-kilau);
}

.container-02 .content-animasi {
    width: 250px;
    background-color: var(--color-black);
    padding: 10px;
}

.container-02 .ruang-animasi {
    overflow: hidden;
    margin-bottom: 15px;
    padding: 40px 0;
}

.animasi-01,
.animasi-02,
.animasi-03 {
    display: block;
    width: 100px;
    margin: auto;
    cursor: pointer;
}

@keyframes animasi-01 {
    0% {
        transform: translateX(-165px);
    }

    25% {
        transform: translateX(0);
    }

    45% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.35);
    }

    55% {
        transform: scale(1);
    }

    75% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(165px);
    }
}

.animasi-01-active {
    animation: animasi-01 5s ease-in-out infinite;
}

@keyframes animasi-02 {
    0% {
        transform: translateY(-136px);
    }

    25% {
        transform: translateY(0);
    }

    45% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.35);
    }

    55% {
        transform: scale(1);
    }

    75% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(136px);
    }
}

.animasi-02-active {
    animation: animasi-02 5s ease-in-out infinite;
}

@keyframes animasi-03 {
    0% {
        transform: translateX(-165px) translateY(-136px);
    }

    25% {
        transform: translateX(0) translateY(0);
    }

    45% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.35);
    }

    55% {
        transform: scale(1);
    }

    75% {
        transform: translateX(0) translateY(0);
    }

    100% {
        transform: translateX(165px) translateY(136px);
    }
}

.animasi-03-active {
    animation: animasi-03 5s ease-in-out infinite;
}

.container-02 .content-animasi h2 {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 5px 0;
}

.container-02 .content-animasi .action {
    width: max-content;
    margin: auto;
    margin-top: 10px;
}

.play-animasi-01,
.stop-animasi-01,
.play-animasi-02,
.stop-animasi-02,
.play-animasi-03,
.stop-animasi-03 {
    font-size: 20px;
    padding: 6px 10px 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.play-animasi-01,
.play-animasi-02,
.play-animasi-03 {
    color: var(--color-white);
    background-color: var(--color-success);
}

.play-animasi-01:hover,
.play-animasi-02:hover,
.play-animasi-03:hover {
    background-color: var(--color-success-hover);
}

.stop-animasi-01,
.stop-animasi-02,
.stop-animasi-03 {
    color: var(--color-white);
    background-color: var(--color-danger);
}

.stop-animasi-01:hover,
.stop-animasi-02:hover,
.stop-animasi-03:hover {
    background-color: var(--color-danger-hover);
}

.play-animasi-01:active,
.stop-animasi-01:active,
.play-animasi-02:active,
.stop-animasi-02:active,
.play-animasi-03:active,
.stop-animasi-03:active {
    animation: var(--animasi-click);
}

.stop-animasi-01,
.stop-animasi-02,
.stop-animasi-03 {
    display: none !important;
}

.active-action {
    display: inline-block !important;
}

.hidden-action {
    display: none !important;
}

.container-02 .border-foto {
    background-image: linear-gradient(315deg, var(--color-secondary-dark) 45%, var(--color-shimmer) 50%, var(--color-secondary-dark) 55%);
    background-size: 500%;
    margin: 0 12.5px;
    margin-top: 25px;
    padding: var(--padding-kilau-m);
    animation: var(--animasi-kilau);
}

.container-02 .content-foto {
    width: 250px;
    background-color: var(--color-secondary-dark);
}

.foto-01,
.foto-02,
.foto-03,
.foto-04 {
    width: 100%;
    border: 10px solid var(--color-secondary-dark);
    transition: 0.15s ease-out;
    cursor: pointer;
}

.foto-01:hover,
.foto-02:hover,
.foto-03:hover,
.foto-04:hover {
    border-color: var(--color-primary-dark);
    transition: 0.15s ease-out;
}

@keyframes foto-animasi {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.4);
    }

    85% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

.foto-active {
    animation: foto-animasi 5s;
}

.container-02 .content-foto h2 {
    color: var(--color-primary-light);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding: 5px 0;
}

.container-02 .content-foto .action {
    text-align: center;
    padding: 10px 0;
}

.lihat-foto-01,
.lihat-foto-02,
.lihat-foto-03,
.lihat-foto-04 {
    color: var(--color-eye);
    background-color: var(--color-primary-light);
    font-size: 20px;
    padding: 5px 8px;
    border-radius: 5px;
    cursor: pointer;
}

.lihat-foto-01:hover,
.lihat-foto-02:hover,
.lihat-foto-03:hover,
.lihat-foto-04:hover {
    background-color: var(--color-primary);
}

.lihat-foto-01:active,
.lihat-foto-02:active,
.lihat-foto-03:active,
.lihat-foto-04:active {
    animation: var(--animasi-click);
}

.container-02 .donasi,
.container-02 .dana .konfirmasi {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-02 .donasi a {
    background-image: linear-gradient(315deg, var(--color-support) 45%, var(--color-shimmer) 50%, var(--color-support) 55%);
    background-size: 500%;
    margin: 0 12.5px;
    margin-top: 25px;
    padding: var(--padding-kilau-m);
    border-radius: 33px;
    animation: var(--animasi-kilau);
}

.container-02 .donasi a:active {
    animation: var(--animasi-click);
}

.container-02 .donasi span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 50px;
    color: var(--color-primary-light);
    background-color: var(--color-support);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border-radius: 33px;
}

.container-02 .donasi span:hover {
    background-color: var(--color-support-hover);
}

.container-02 .dana {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 75px;
}

.container-02 .dana-hidden {
    display: none;
}

.container-02 .dana h1 {
    color: var(--color-secondary-dark);
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.container-02 .dana img {
    width: 75px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.container-02 .dana p {
    color: var(--color-black);
    text-transform: uppercase;
    margin-top: 0;
}

.container-02 .dana-info {
    background-color: var(--color-dana);
    text-align: center;
    margin-top: 15px;
    padding: 17px 20px;
    border-radius: 5px;
}

.container-02 .dana-info span {
    display: block;
    color: var(--color-white);
    font-size: 18px;
    font-weight: 400;
}

.container-02 .dana .konfirmasi span,
.container-02 .dana .konfirmasi a {
    width: 120px;
    color: var(--color-white);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 0 12.5px;
    margin-top: 25px;
    padding: 10px 0;
    border-radius: 33px;
    cursor: pointer;
}

.container-02 .dana .konfirmasi span:active,
.container-02 .dana .konfirmasi a:active {
    animation: var(--animasi-click);
}

.container-02 .dana .konfirmasi span {
    background-color: var(--color-success);
    border: 3px solid var(--color-success);
}

.container-02 .dana .konfirmasi span:hover {
    background-color: var(--color-success-hover);
}

.container-02 .dana .konfirmasi a {
    background-color: var(--color-danger);
    border: 3px solid var(--color-danger);
}

.container-02 .dana .konfirmasi a:hover {
    background-color: var(--color-danger-hover);
}

.container-02 .dana .berhasil-salin {
    position: fixed;
    bottom: 65px;
    color: var(--color-white);
    background-color: var(--color-success);
    padding: 5px 10px;
    border-radius: 5px;
    transform: translateY(0) scale(1);
    transition: transform 0.25s ease-out;
}

.container-02 .dana .berhasil-salin-hidden {
    transform: translateY(110px) scale(0);
    transition: transform 0.25s ease-out;
}

/* ------------------------- */

footer {
    padding-top: 75px;
}

.footer {
    color: var(--color-primary-light);
    background-color: var(--color-footer);
    padding: 75px 5%;
}

.footer .top {
    text-align: center;
}

.footer .top h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    margin-bottom: 10px;
}

.footer .top p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.footer .top h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 10px;
}

.footer .top a {
    display: inline-block;
    color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 50px 0;
}

.footer .top a:hover {
    color: var(--color-primary);
}

.footer .mid {
    text-align: center;
}

.footer .mid a {
    color: var(--color-primary-light);
    font-size: 30px;
    margin: 0 10px;
}

.footer .mid a:hover {
    color: var(--color-primary);
}

.footer .mid p a {
    display: inline-block;
    font-size: 15px;
    margin: 0;
    margin-top: 10px;
}

.footer .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer .bottom img {
    width: 100px;
    margin: 0 15px;
    margin-top: 50px;
}

.footer .bottom .end {
    text-align: center;
    margin: 0 15px;
    margin-top: 50px;
}

.footer .bottom .end p#versi {
    font-size: 16px;
    font-weight: 400;
}

.footer .bottom .end p#desainer {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.footer .bottom .end p#copyright {
    font-size: 16px;
    font-weight: 400;
}

/* ------------------------- */

/* Menu Sampingan | Home */
.sidebar-content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: var(--z-index-sidebar-content);
    background-color: var(--color-primary);
    padding-top: 100px;
    overflow-y: auto;
    display: none;
}

.sidebar-content-active {
    display: block;
}

.sidebar-content .sidebar-content-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-header);
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}

.sidebar-content .sidebar-content-header h1 {
    color: var(--color-primary-light);
    font-size: 18px;
    font-weight: 400;
}

.sidebar-content .sidebar-content-footer {
    color: var(--color-secondary-dark);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 50px 0;
}

.sidebar-content .sidebar-back {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 42px;
    color: var(--color-white);
    background-color: var(--color-danger);
    font-size: 20px;
    border: 3px solid var(--color-danger);
    cursor: pointer;
}

.sidebar-content .sidebar-back:hover {
    background-color: var(--color-danger-hover);
}

.sidebar-content .sidebar-back:active {
    animation: var(--animasi-click);
}
/* End Menu Sampingan | Home */



/* Menu Sampingan | Home | Comment */
.sidebar-content .comment-form {
    display: block;
    margin: auto;
}
/* End Menu Sampingan | Home | Comment */



/* Menu Sampingan | Home | About */
.sidebar-content .about-img {
    display: block;
    width: 150px;
    box-shadow: 0 0 10px var(--color-shadow);
    margin: auto;
    border: 5px solid var(--color-primary-light);
    border-radius: 50%;
    cursor: pointer;
}

.sidebar-content .table-info {
    width: 500px;
    margin: auto;
    margin-top: 25px;
}

.sidebar-content .table-info .item {
    background-color: var(--color-primary-light);
    margin-bottom: 15px;
    padding: 5px 8px;
    border-radius: 5px;
}

.sidebar-content .table-info .item span {
    display: block;
}

.sidebar-content .table-info .item .name {
    color: var(--color-secondary);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.sidebar-content .table-info .item .name-info {
    color: var(--color-secondary-dark);
    font-size: 16px;
    font-weight: 400;
}
/* End Menu Sampingan | Home | About */
/* End Menu Utama | Home */



/* Menu Utama | Content */
.konten {
    padding-top: 56px;
}

.konten .teks-berjalan {
    width: 100%;
    color: var(--color-primary-light);
    background-color: var(--color-header);
    font-size: 16px;
    font-weight: 400;
    padding: 5px;
    border-top: 1px solid var(--color-primary-light);
    overflow: hidden;
}

@keyframes teks-berjalan {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-110%);
    }
}

.konten .teks-berjalan div {
    width: max-content;
    animation: teks-berjalan 150s linear infinite;
}

.konten .teks-berjalan div span {
    margin-left: 1500px;
}

.konten .search-container {
    padding-top: 75px;
}

.konten .search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    background-color: var(--color-secondary-dark);
    margin: auto;
    border-radius: 20px;
}

.konten .search i {
    color: var(--color-primary-light);
    font-size: 20px;
    margin-left: 7px;
    margin-right: 3px;
}

.konten .search input {
    width: 100%;
    color: var(--color-secondary-dark);
    background-color: var(--color-primary-light);
    padding: 5px 8px;
    border: 2px solid var(--color-secondary-light);
    border-radius: 20px;
}

.konten .search input:focus {
    border-color: var(--color-secondary-dark);
}

.konten .content {
    padding-top: 75px;
    padding-bottom: 50px;
}

.konten .content .item {
    background-color: var(--color-primary-light);
    margin-bottom: 50px;
    padding: 25px 5%;
    border-radius: 5px;
}

.konten .content .item .title h1 {
    color: var(--color-secondary-dark);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.konten .content .item .snippet {
    margin: 25px 0;
}

.konten .content .item .snippet p {
    color: var(--color-secondary-dark);
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
}

.konten .content .item .link a {
    display: inline-block;
    color: var(--color-white);
    background-color: var(--color-primary-blue);
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
    padding: 5px 10px;
    border: 3px solid var(--color-primary-blue);
    border-radius: 20px;
    cursor: pointer;
}

.konten .content .item .link a:hover {
    background-color: var(--color-primary-blue-hover);
}

.konten .content .item .link a:active {
    animation: var(--animasi-click);
}

.konten .content .no-result {
    display: none;
    color: var(--color-secondary-dark);
    text-align: center;
}

.konten .content .no-result i {
    display: block;
    font-size: 50px;
    margin-bottom: 10px;
}
/* End Menu Utama | Content */



/* Menu Utama | Notification */
.notifikasi {
    padding: 0 10%;
    padding-top: 100px;
    padding-bottom: 50px;
}

.notifikasi .item {
    background-color: var(--color-primary-light);
    margin-bottom: 50px;
    padding: 25px 5%;
    border-radius: 5px;
}

.notifikasi .item .title h1 {
    color: var(--color-secondary-dark);
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.notifikasi .item .snippet {
    margin: 25px 0;
}

.notifikasi .item .snippet p {
    color: var(--color-secondary-dark);
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
}

.list-notifikasi-01,
.list-notifikasi-02 {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(15px);
}

.active-list-notifikasi {
    height: auto;
    opacity: 1;
    transform: translateY(0);
    transition: 0.5s ease-out;
}

.notifikasi .item .list p,
.notifikasi .item .list ul li {
    color: var(--color-secondary-dark);
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
}

.notifikasi .item .list p {
    font-weight: 500;
}

.notifikasi .item .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notifikasi .item .button-container span i {
    display: block;
}

.buka-notifikasi-01,
.tutup-notifikasi-01,
.buka-notifikasi-02,
.tutup-notifikasi-02 {
    width: 200px;
    color: var(--color-primary-light);
    background-color: var(--color-secondary);
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
    text-align: center;
    border: 3px solid var(--color-secondary);
    border-radius: 25px;
    cursor: pointer;
}

.buka-notifikasi-01:hover,
.tutup-notifikasi-01:hover,
.buka-notifikasi-02:hover,
.tutup-notifikasi-02:hover {
    background-color: var(--color-secondary-dark);
}

.buka-notifikasi-01:active,
.tutup-notifikasi-01:active,
.buka-notifikasi-02:active,
.tutup-notifikasi-02:active {
    animation: var(--animasi-click);
}

.tutup-notifikasi-01,
.tutup-notifikasi-02 {
    display: none;
}

.active-button-aksi-notifikasi {
    display: inline-block;
}

.hidden-button-aksi-notifikasi {
    display: none;
}
/* End Menu Utama | Notification */



/* Menu Utama | Profile */
.profil {
    padding: 0 5%;
    padding-top: 125px;
    padding-bottom: 50px;
}

.profil .profil-img {
    display: block;
    width: 250px;
    box-shadow: 0 0 25px var(--color-white);
    margin: auto;
    border: 10px solid var(--color-secondary-dark);
    border-radius: 50%;
    cursor: pointer;
}

.profil .profil-about {
    position: relative;
    color: var(--color-secondary-dark);
    background-color: var(--color-primary-light);
    margin-top: 50px;
    padding: 0 5%;
    padding-top: 25px;
    padding-bottom: 35px;
    border-radius: 5px;
}

.profil .profil-about h1 {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.profil .profil-about p {
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
    text-align: left;
    margin-top: 15px;
}

.profil .profil-info {
    width: 600px;
    background-color: var(--color-primary-light);
    margin: 50px auto;
    padding: 10px 0;
    border-radius: 5px;
}

.profil .profil-info .item {
    margin: 25px 2.5%;
    padding: 5px 2.5%;
    border: 1px solid var(--color-secondary-light);
    border-radius: 5px;
}

.profil .profil-info .item .name {
    display: block;
    color: var(--color-secondary-light);
    font-size: var(--fs-normal);
    font-weight: 500;
    text-transform: uppercase;
}

.profil .profil-info .item .name-info {
    color: var(--color-secondary-dark);
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
}

.profil .profil-info .item ul {
    margin-bottom: 0;
}
/* End Menu Utama | Profile */